.sobre-nexo {
    background: #f7f9fa;
    border-radius: 18px;
    padding: 32px 20px;
    margin-bottom: 40px;
    text-align: left;
    color: var(--textDark);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.sobre-nexo h2,
.sobre-nexo h3 {
    color: var(--primary-dark);
    margin-top: 18px;
}

.sobre-nexo ul,
.sobre-nexo ol {
    margin-left: 22px;
    margin-bottom: 18px;
}

.sobre-nexo ul li,
.sobre-nexo ol li {
    font-size: 1rem;
    margin-bottom: 7px;
}

.sobre-nexo a {
    color: var(--primary-dark);
    text-decoration: underline;
}